/*Cards */

.card
  flex: 1
  margin: 1rem
  padding: 1rem 2rem
  min-width: 20%
  min-height: 100px
  display: flex
  border-radius: $base-border-radius


  &--inside
    padding: 5px
    width: 100%

    p
      font-size: 1.0vw
      font-family: $opensans

    &-header
      border-radius: $base-border-radius
      display: flex
      min-height: 4rem
      width: 100%
      +center(center, center)
      margin-bottom: 1rem
      font-family: $concert


.card2
  flex: 1
  border-right: none
  padding: 1rem 2rem
  display: flex
  align-items: flex-end

.main-title
  border-top: 1px solid $tuscany
  border-bottom: 1px solid $tuscany
  color: $back
  font-family: $font-stack-monaco
  text-shadow: 2px 1px 1px $akaroa, -2px -1px 1px $akaroa1
  letter-spacing: 2px
  border-radius: $base-border-radius
