/* Tables */

@charset "UTF-8"

table
  border-collapse: collapse
  width: 100%
  font-size: 1vw

.tea_show
  width: 95%
  margin: 0 auto

.cent
  text-align: center

th
  border-bottom: 1px dotted $tundora
td
  text-align: center
