@charset "UTF-8"
/* Links */
a
  color: $zest
  text-decoration: none
  transition: color $base-duration $base-timing
  font-family: $font-stack-lucida-grande
  text-shadow: 1px 1px 1px $orange

  &:visited
    //background-color: $zest
    color: #a4acb7
    text-shadow: 1px 1px 1px $ignore
    text-decoration: overline
    font-family: 'Fredoka One', cursive

  &:hover
    color: $md-lime-a200
    //background-color: $orange2
    border-bottom: 2px solid $green6

  &:focus, :active
    color: $gold
    text-shadow: 1px 1px 3px black