  <ul>
      <li><s>Angelwax FastFoam</s></li>
      <li>Griots Surface Wash Foam</li>
      <li>Poorboys World Super Slick Car Wash</li>
      <li>Carpro Reset shampoo</li>
      <li>3M Clay bar</li>
      <li>CarPro Immolube Clayluber</li>
      <li>Angelwax Stripped Ease</li>
      <li>Griots G8 Random Orbital Polisher</li>
      <li>Porter Cable Orbital Polisher</li>
      <li>9 3 inch pads</li>
      <li>20 5.5 inch pads</li>
      <li>3 red final finishing Buff & Shine pads</li>
      <li>3 black finishing Buff & Shine pads</li>
      <li>Meguires Mirror Glaze #83 cleaner polish</li>
      <li>Angelwax Redemption Finishing polish</li>
      <li>Andgelwax Perfect polish cleaner polish</li>
      <li>Carpro Finishing - Cleaner polish</li>
      <li>Griots Correcting Creme</li>
      <li>Gyeon Prep cleaner</li>
      <li>27 short nap towels</li>
      <li>#1 Foam Cannons - Adams Wheel & Tire</li>
      <li>#2 Foam Cannons - Hydro2 Foam</li>
      <li>#3 Foam Cannons - FastFoam</li>
      <li><?=$reload;?></li>
  </ul>